.user-common-style {
    border-radius: 4px;
    /* border: 1px solid #6C6C6C; */

    background: #DBDBDB;
}
.list-items{
    margin-left: 100px !important;
}
.user-list {
    border-radius: 8px 8px 0px 0px;
    background: #C5DFFF;

}
.user-items:hover{
    background: #e5c0c0 !important;
    transition-delay: 3s;
}
.btn-active-style:active{
    background: #000 !important;
}
.btn-active-style:focus {
    background: rgb(151, 147, 147);
}

.details-card {
    right: -0px !important;
    margin-right: 150px;
    margin-top: 10px;
}

.user-details-heading {
    border-radius: 8px 8px 0px 0px;
    background: #C5DFFF;

}

.bio {
    border-radius: 4px;
    border: 1px solid #6C6C6C;

    background: #DBDBDB;
    margin: 30px 0px 40px 0px !important;
    padding: 5px 5px 20px 5px;

}

.common-style {
    border-radius: 4px;
    border: 1px solid #6C6C6C;

    background: #DBDBDB;
}

@media screen and (max-width : 576px) {
    .details-card{
        top: 0;
        width: 60% !important;
   margin-right: 10px !important;

 
    }
    .user-items{
     
        width: 100% !important;
    }
    .avatar{
  margin-left: -20px;
    }
    .user-name{
        font-size: 10px !important;
    margin-left: -15px;

    }
    .list-items{
     margin-left: 5px !important;
        /* width: 50px !important; */
    }
    .data-details{
        width: 100% !important;
    }

    
}