.user-container{
    display: flex;
    justify-content: space-between;
;

}
.user-common-style {
    border-radius: 4px;
    /* border: 1px solid #6C6C6C; */
margin: 20px 0px;
    background: #DBDBDB;
}

.list-items {
    /* margin-left: 100px ; */
}

.user-list {
    border-radius: 8px 8px 0px 0px;
    background: #C5DFFF;

}
 .avatar {
     width: 80px;
border-radius: 100px;

 }
 .avatar-skeleton{
    margin: 10px auto;
 }
.user-items:hover {
    background: #e5c0c0 !important;
    transition-delay: 3s;
}

.btn-active-style:active {
    background: #000 !important;
}

.btn-active-style:focus {
    background: rgb(151, 147, 147);
}

.details-card {
    position: fixed;
    right: 0;
    width: 40% !important;
    margin-top: 28px;
}

.user-details-heading {
    margin: 0px auto;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    background: #C5DFFF;
    

}
.details-image{
    margin: 10px 40%;
        width: 80px;
            border-radius: 100px;
}
.user-name{
    margin-left: 50px;
    color: black;
    text-align: left;
}

.bio {
    border-radius: 4px;
    border: 1px solid #6C6C6C;

    background: #DBDBDB;
    margin: 30px 0px 40px 0px !important;
    padding: 5px 5px 20px 5px;

}

.common-style {
    border-radius: 4px;
    border: 1px solid #6C6C6C;
padding-left: 10px ;
    background: #DBDBDB;
}

.details-avatar {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

.spinner-style{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
/* style for mobile */
@media screen and (max-width : 576px) {
    .details-card {
        /* top: 0; */
        width: 65% !important;
        margin-top: 28px;
        margin-right: 10px !important;


    }

    .user-items {

        width: 100% !important;
    }

    .avatar {
        margin-left: -20px;
        width: 25px !important;
        margin-right: 10px;
        
    }

    .user-name {
        font-size: 10px !important;
    margin-left: 0px;

    }

    .list-items {
        /* margin-top: px !important; */
        margin-left: 0px !important;
        /* width: 50px !important; */
    }

    .data-details {
        width: 100% !important;
    }

/* for spinner */
 .spinner-style {
     width: 100%;
 
     margin-left: 100%;

 }
} 

/* style for tablet */
@media only screen and (min-width: 600px) {
    .list-items{
width: 40% !important;
    }
    .details-card{
        width:55% !important;
        /* margin-right: -120px; */
    }
}